<div class="wrap">
	<div class="icon32" id="icon-edit"><br></div>
	<h1>スケジュール管理</h1>
	<div class="h_box">
		<h2><input type="text" id="datepicker" name="krc_datepicker" /><input type="hidden" id="schedule_target_day" name="schedule_target_day" value="{{ schedule_target_day }}" />の出勤スケジュールを登録</h2>
		<div class="schedule_button">
			<a href="javascript: void(0)" id="rest-schedule" class="button-primary">定休日</a>　
			<a href="javascript: void(0)" id="save-schedule" class="button-primary">　スケジュールの決定　<?php __('決定', 'krc' ) ?></a>
		</div>
		
	</div>
	<div id="ajax-response"></div>
	
	<div id="krc-schedule-out" class="postbox " >
		<h3 class='hndle'><span>出勤キャストBOX</span></h3>
		<div class="inside">
			
			<div id="schedule_cast_in" class="cast_box">
			</div>
			
			<p class="krc_memo">スケジュールの変更後は「スケジュールの決定」ボタンをクリックして下さい。<br>定休日に指定する場合はカレンダーで日付を選択して「定休日」ボタンをクリックして下さい。</p>
		</div>
	</div>
	
	<div id="krc-schedule-in" class="postbox " >
		<h3 class='hndle'><span>欠勤キャストBOX</span></h3>
		<div class="inside">
			
			<div id="schedule_cast_out" class="cast_box">
			</div>
			
		</div>
	</div>
	<div class="clear"></div>
	

	
	
</div>